:root {
    --font-sans: "M PLUS 1", sans-serif;
    --font-mono: "M PLUS 1", sans-serif;
    --nav-height: 50px;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --primary-color: #ff9800;
    --primary-dark-color: #f57c00;
    --light-slate: #a8b2d1;
    --primary-text: #ffffff;
    --secondary-text: #dad0d0;
    --light-primary-color: #ffffff;
    --background-color: #080808;
    --fz-xxs: 15px;
    --fz-lg: 20px;
    --fz-am: 17px;
    --fz-xl: 20px;
    --fz-md: 20px;
    --fz-sm: 14px;
    --fz-pd: 15px;
    --accent-color: #448aff;
    --box-shadow: #ff9100;
    --filter-grey: invert(49%) sepia(0%) saturate(395%) hue-rotate(143deg) brightness(92%) contrast(94%);
    --filter-dark: invert(4%) sepia(7%) saturate(9%) hue-rotate(333deg) brightness(102%) contrast(81%);
    --filter-blue: invert(45%) sepia(91%) saturate(1998%) hue-rotate(201deg) brightness(101%) contrast(105%);
    --filter-primary-color: invert(52%) sepia(81%) saturate(1022%) hue-rotate(1deg) brightness(105%) contrast(103%);
    --filter-moon: invert(99%) sepia(1%) saturate(0%) hue-rotate(266deg) brightness(108%) contrast(100%);
    --primary-shadow: #ff9100;
    --bottom-margin: 0.5rem;
    --secondary-shadow: #a17a69;
}

.dark-theme {
    --primary-text: #212121;
    --primary-shadow: #8b8eaf;
    --background-color: #ffffff;
    --light-slate: #a8b2d1;
    --secondary-text: #757575;
    --light-primary-color: #ffffff;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --filter-moon: invert(0%) sepia(26%) saturate(4208%) hue-rotate(143deg) brightness(91%) contrast(94%);
}

body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    padding: 0;
    color: var(--primary-text);
    background-color: var(--background-color);
    font-family: var(--font-mono);
}

a {
    text-decoration: none;
    color: var(--light-primary-color);
    font-family: var(--font-mono);
}

nav {
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    height: var(--nav-height);
    transition: var(--transition);
}

.header-container {
    z-index: 1;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 40px 0 40px;
    background-color: var(--background-color);
    /*box-shadow: 0 3px 5px var(--box-shadow); */
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}

nav ul li,
nav ul li a {
    font-family: var(--font-sans);
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    padding: 0 0 0 10px;
    color: var(--primary-color);
    transition: var(--transition);
}

.logo-main img {
    filter: var(--filter-blue);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    width: 90px;
}

#moon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0 20px;
    filter: var(--filter-moon);
}

nav span {
    visibility: hidden;
    color: var(--accent-color);
}

nav img:hover {
    transform: scale(1.2);
}

nav a:hover {
    color: var(--accent-color);
    transform: scale(1.2);
}

nav a:hover span {
    transform: scale(1.2);
    visibility: visible;
}

.sidebar-right {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--light-slate);
}

.orientation-side-right {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.sidebar-right a {
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    color: var(--primary-color);
}

.orientation-side-right::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--primary-dark-color);
}

.sidebar-right a:hover {
    font-weight: bolder;
    color: var(--accent-color);
}

.sidebar-left {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    color: var(--primary-color);
}

.sidebar-left ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    list-style: none;
    text-decoration: none;
}

.sidebar-left ul li {
    padding: 10px 0 10px 0;
    margin: 0;
}

.sidebar-left img {
    border-radius: 0px;
    filter: var(--filter-primary-color);
    width: 24px;
    height: 24px;
}

.orientation-side-left::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--primary-dark-color);
}

.sidebar-left img:hover {
    filter: var(--filter-blue);
    transform: scale(1.1);
}

main {
    padding: 150px 100px 0 100px;
    margin: 0px auto;
    max-width: 1600px;
    min-height: 100vh;
}

.about-me {
    padding: 0 15px 10px 15px;
    width: 45%;
    display: block;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    text-align: left;
}

.blocks-about-me {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.blocks-about-me img {
    border-radius: 6px;
    width: 48%;
    height: auto;
}

.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}

.about-me h1 {
    color: var(--primary-text);
    /* margin: 0px 0px 30px 0px; */
    font-size: 40px;
    line-height: 1.1;
}

.about-me p {
    font-family: var(--font-mono);
    font-size: var(--fz-xl);
    line-height: 1.3;
    color: var(--secondary-text);
}

.about-me-img-container {
    width: 48%;
    height: auto;
}

.about-me-img-container img {
    width: 100%;
}

.description-about-me p {
    font-family: var(--font-mono);
    font-size: var(--fz-am);
    line-height: 1.3;
    color: var(--secondary-text);
}

.description-about-me a {
    font-family: var(--font-mono);
    font-size: var(--fz-am);
    line-height: 1.3;
    color: var(--accent-color);
    font-weight: bold;
    transition: var(--transition);
}

.description-about-me a:hover {
    text-decoration: underline;
}

.headings-container {
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
}

.education-container {
    text-align: center;
    margin: 0%;
}

.headings {
    padding-top: 50px;
    font-size: var(--fz-md);
    color: var(--primary-color);
}

.headings span {
    color: var(--accent-color);
}

.projects {
    padding: 0px 0px 32px 0;
}

.project-pic {
    width: 60%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-container p {
    font-family: var(--font-mono);
    font-size: var(--fz-pd);
    padding-left: 0;
    margin: 0;
    color: var(--secondary-text);
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-container {
    text-align: center;
    width: 21.875rem;
}

.project-details {
    text-align: left;
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: var(--background-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

.project-container:hover {
    box-shadow: 0 3px 10px var(--accent-color);
}

.title {
    font-size: clamp(40px, 5vw, 60px);
    margin: 0px 0px 10px;
    font-weight: 600;
    color: var(--primary-text);
    line-height: 1.1;
}

.contact-me {
    display: block;
    /* border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow); */
    text-align: center;
    padding-bottom: 200px;
    max-width: 700px;
    margin: 50px auto 100px;
}


/* .contact-me img {
    height: 40%;
    width: 25%;
    border-radius: 10px;
} */

.contact-container p {
    margin: 0 0 50px 0;
    font-family: var(--font-mono);
    font-size: var(--fz-xl);
    line-height: 1.3;
    color: var(--secondary-text);
}

.contact-container a {
    border-radius: 6px;
    border: 3px solid var(--primary-color);
    color: var(--primary-text);
    font-weight: bold;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    transition: var(--transition);
}

.contact-me a:hover {
    background-color: var(--accent-color);
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    color: var(--light-primary-color);
    border-color: var(--accent-color);
    transform: scale(1.5);
}

footer {
    text-align: center;
    padding: 0 0 20px 0;
    margin: 0;
}

.more-work {
    text-align: center;
    width: 100%;
    padding: 50px 0 25px 0;
}

.more-work a {
    border-radius: 6px;
    border: 3px solid var(--primary-color);
    color: var(--primary-text);
    font-weight: bold;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    transition: var(--transition);
}

.more-work a:hover {
    background-color: var(--accent-color);
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    color: var(--light-primary-color);
    border-color: var(--accent-color);
    transform: scale(1.5);
}

.timeline-crazy {
    background-color: var(--background-color);
    overflow-x: hidden;
}

img {
    width: 540px;
    height: 260px;
    max-width: 100%;
    border-radius: 6px;
}

.ag-format-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.ag-timeline-block {
    padding: 0px 0 0px 0;
}

.ag-timeline_title-box {
    padding: 0 0 30px;
    text-align: center;
}

.ag-timeline_tagline {
    font-size: 40px;
    color: var(--primary-text);
}

.ag-timeline_title {
    background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-fill-color: transparent;
    color: transparent;
    font-size: 80px;
}

.ag-timeline_item {
    margin: 0 10px 50px;
    position: relative;
}

.ag-timeline_item:nth-child(2n) {
    text-align: right;
}

.ag-timeline {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.ag-timeline_line {
    width: 4px;
    background-color: var(--primary-text);
    position: absolute;
    top: 2px;
    left: 50%;
    bottom: 0;
    overflow: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ag-timeline_line-progress {
    width: 100%;
    height: 20%;
    background-color: var(--primary-color);
}

.ag-timeline-card_box {
    display: inline-block;
    padding: 0 0 20px 50%;
    margin: 0 14px 0 28px;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 50% 20px 0;
    margin: 0 28px 0 14px;
}


/* .ag-timeline-card_point-box {
    display: inline-block;
    margin: 0 14px 0 -28px;
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 -28px 0 14px;
} */


/* 
.ag-timeline-card_point {
    height: 10px;
    width: 10px;
    border: 4px solid var(--primary-color);
    background-color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
} */


/* .js-ag-active .ag-timeline-card_point {
    color: var(--light-primary-color);
    background-color: var(--primary-color);
    font-weight: bold;
} */

.ag-timeline-card_meta-box {
    display: inline-block;
}

.ag-timeline-card_meta {
    margin: 10px 0 0;
    font-family: var(--font-mono);
    font-weight: bold;
    font-size: 28px;
    color: var(--primary-color);
}

.ag-timeline-card_item {
    display: inline-block;
    width: 42%;
    margin: -77px 0 0;
    opacity: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: var(--background-color);
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    -o-transition: -o-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    position: relative;
}

.ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_item {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
}

.js-ag-active.ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.ag-timeline-card_arrow {
    height: 18px;
    width: 18px;
    margin-top: 20px;
    background-color: var(--primary-text);
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_arrow {
    margin-left: calc(-18px / 2);
    margin-right: calc(-18px / 2);
}

.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
    margin-left: -10px;
    right: auto;
    left: 0;
}

.ag-timeline-card_img {
    width: 100%;
}

.ag-timeline-card_info {
    padding: 20px 30px;
}

.ag-timeline-card_title {
    display: none;
    margin: 10px 0 0;
    font-family: var(--font-mono);
    font-weight: bold;
    font-size: 28px;
    color: var(--primary-text);
}

.ag-timeline-card_desc {
    line-height: 1.45;
    font-size: var(--fz-am);
    color: var(--secondary-text);
}

@media only screen and (max-width: 979px) {
    .ag-timeline_line {
        left: 30px;
    }
    .ag-timeline_item:nth-child(2n) {
        text-align: left;
    }
    .ag-timeline-card_box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
        padding: 0 0 20px;
    }
    .ag-timeline-card_meta-box {
        display: none;
    }
    .ag-timeline-card_point-box,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
        margin: 0 0 0 8px;
    }
    .ag-timeline-card_point {
        height: 40px;
        line-height: 40px;
        width: 40px;
    }
    .ag-timeline-card_item {
        width: auto;
        margin: -65px 0 0 75px;
    }
    .ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_item,
    .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }
    .ag-timeline_item:nth-child(2n + 1) .ag-timeline-card_arrow {
        right: auto;
        left: 0;
    }
    .ag-timeline-card_title {
        display: block;
    }
    .ag-timeline-card_arrow {
        margin-top: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .sidebar-left {
        display: none;
    }
    .sidebar-right {
        display: none;
    }
    .ag-format-container {
        width: 96%;
    }
    .ag-timeline-card_img {
        height: auto;
        width: auto;
    }
    .description-about-me p {
        font-size: 14px;
    }
    .description-about-me a {
        font-size: 14px;
    }
    .animated-me p {
        font-size: 14px;
    }
    .project-details {
        font-size: 12px;
    }
    .animated-me h1 {
        font-size: 20px;
    }
    .blocks-about-me {
        justify-content: center;
        align-items: center;
        display: block;
    }
    .about-me-img-container {
        margin: 0 auto;
        justify-content: center;
        width: 90%;
    }
    .blocks-about-me img {
        padding-top: 10px;
        width: 100%;
    }
    .about-me {
        width: 80%;
        margin: 0 auto 0 auto;
    }
    .projects-container {
        width: 100%;
        display: block;
    }
    .project-card {
        margin: 20px auto;
    }
    .nav ul li {
        font-size: 12px;
    }
}

@media only screen and (max-width: 639px) {
    main {
        padding: 125px 25px;
    }
    .sidebar-left {
        display: none;
    }
    .sidebar-right {
        display: none;
    }
    .ag-timeline_title {
        font-size: 60px;
    }
    .ag-timeline-card_info {
        padding: 10px 15px;
    }
    .ag-timeline-card_desc {
        font-size: 14px;
    }
    .ag-timeline-card_point {
        font-size: 14px;
    }
    .description-about-me p {
        font-size: 14px;
    }
    .description-about-me a {
        font-size: 14px;
    }
    .animated-me p {
        font-size: 14px;
    }
    .animated-me h1 {
        font-size: 20px;
    }
    .project-details {
        font-size: 12px;
    }
    .blocks-about-me {
        justify-content: center;
        align-items: center;
        display: block;
    }
    .about-me-img-container {
        margin: 0 auto;
        justify-content: center;
        width: 90%;
    }
    .blocks-about-me img {
        padding-top: 10px;
        width: 100%;
    }
    .about-me {
        width: 80%;
        margin: 0 auto 0 auto;
    }
    .projects-container {
        width: 100%;
        display: block;
    }
    .project-card {
        width: 80%;
        margin: 20px auto;
    }
    .technologies h2 {
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 479px) {
    main {
        padding: 125px 10px;
    }
    .sidebar-left {
        display: none;
    }
    .sidebar-right {
        display: none;
    }
    .ag-timeline_title {
        font-size: 30px;
    }
    .ag-timeline-card_info {
        padding: 10px 15px;
    }
    .ag-timeline-card_desc {
        font-size: 10px;
    }
    .ag-timeline-card_point {
        font-size: 10px;
    }
    .description-about-me p {
        font-size: 12px;
    }
    .description-about-me a {
        font-size: 12px;
    }
    .animated-me p {
        font-size: 12px;
    }
    .animated-me h1 {
        font-size: 30px;
    }
    .project-details {
        font-size: 10px;
    }
    .blocks-about-me {
        justify-content: center;
        align-items: center;
        display: block;
    }
    .about-me-img-container {
        margin: 0 auto;
        justify-content: center;
        width: 90%;
    }
    .blocks-about-me img {
        padding-top: 10px;
        width: 100%;
    }
    .about-me {
        width: 80%;
        margin: 0 auto 0 auto;
    }
    .projects-container {
        width: 100%;
        display: block;
    }
    .project-card {
        margin: 20px auto;
    }
    .ag-timeline-card_title {
        font-size: 14px;
    }
    .ag-timeline-card_item {
        width: auto;
        margin: -65px 0 0 45px;
    }
    nav ul li {
        font-size: 12px;
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
        width: auto;
    }
    main {
        padding: 50px 100px 150px 100px;
    }
    .blocks-about-me {
        justify-content: center;
        align-items: center;
        display: block;
    }
    .about-me-img-container {
        margin: 0 auto;
        justify-content: center;
        width: 90%;
    }
    .blocks-about-me img {
        padding-top: 10px;
        width: 100%;
    }
    .about-me {
        width: 80%;
        margin: 0 auto 0 auto;
    }
    .projects-container {
        width: 100%;
        display: block;
    }
    .project-card {
        margin: 20px auto;
    }
}

@media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
        width: 100%;
    }
    main {
        padding: 200px 100px;
    }
}

.technologies {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.technologies h2 {
    padding-bottom: 50px;
}

.skill-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1rem;
    width: 15%;
    height: 15%;
}

.icon-card {
    background-color: var(--background-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--box-shadow);
    padding: 20px;
    margin: 10px;
}

.icon-card:hover {
    box-shadow: 0 3px 10px var(--accent-color);
    transform: scale(1.2);
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.preloader-wrapper {
    position: fixed;
    z-index: 999;
    display: flex;
    background: #000;
    color: #3df1f1;
    font: 1em Dosis, sans-serif;
    height: 100vh;
    width: 100vw;
    line-height: 1.5;
    perspective: 40em;
}

.preloader {
    animation: tiltSpin 8s linear infinite;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 17em;
    height: 17em;
}

.preloader,
.preloader__ring {
    transform-style: preserve-3d;
}

.preloader__ring {
    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: inherit;
    animation-iteration-count: inherit;
    font-size: 2em;
    position: relative;
    height: 28%;
    width: 13%;
}

.preloader__ring:nth-child(even) {
    animation-direction: reverse;
}

.preloader__sector {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(7rem);
}

.preloader__sector,
.preloader__sector:empty:before {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.preloader__sector:empty:before {
    background: linear-gradient( transparent 45%, currentColor 45% 55%, transparent 55%);
    content: "";
}

.preloader__sector:nth-child(2) {
    transform: rotateY(12deg) translateZ(7rem);
}

.preloader__sector:nth-child(3) {
    transform: rotateY(24deg) translateZ(7rem);
}

.preloader__sector:nth-child(4) {
    transform: rotateY(36deg) translateZ(7rem);
}

.preloader__sector:nth-child(5) {
    transform: rotateY(48deg) translateZ(7rem);
}

.preloader__sector:nth-child(6) {
    transform: rotateY(60deg) translateZ(7rem);
}

.preloader__sector:nth-child(7) {
    transform: rotateY(72deg) translateZ(7rem);
}

.preloader__sector:nth-child(8) {
    transform: rotateY(84deg) translateZ(7rem);
}

.preloader__sector:nth-child(9) {
    transform: rotateY(96deg) translateZ(7rem);
}

.preloader__sector:nth-child(10) {
    transform: rotateY(108deg) translateZ(7rem);
}

.preloader__sector:nth-child(11) {
    transform: rotateY(120deg) translateZ(7rem);
}

.preloader__sector:nth-child(12) {
    transform: rotateY(132deg) translateZ(7rem);
}

.preloader__sector:nth-child(13) {
    transform: rotateY(144deg) translateZ(7rem);
}

.preloader__sector:nth-child(14) {
    transform: rotateY(156deg) translateZ(7rem);
}

.preloader__sector:nth-child(15) {
    transform: rotateY(168deg) translateZ(7rem);
}

.preloader__sector:nth-child(16) {
    transform: rotateY(180deg) translateZ(7rem);
}

.preloader__sector:nth-child(17) {
    transform: rotateY(192deg) translateZ(7rem);
}

.preloader__sector:nth-child(18) {
    transform: rotateY(204deg) translateZ(7rem);
}

.preloader__sector:nth-child(19) {
    transform: rotateY(216deg) translateZ(7rem);
}

.preloader__sector:nth-child(20) {
    transform: rotateY(228deg) translateZ(7rem);
}

.preloader__sector:nth-child(21) {
    transform: rotateY(240deg) translateZ(7rem);
}

.preloader__sector:nth-child(22) {
    transform: rotateY(252deg) translateZ(7rem);
}

.preloader__sector:nth-child(23) {
    transform: rotateY(264deg) translateZ(7rem);
}

.preloader__sector:nth-child(24) {
    transform: rotateY(276deg) translateZ(7rem);
}

.preloader__sector:nth-child(25) {
    transform: rotateY(288deg) translateZ(7rem);
}

.preloader__sector:nth-child(26) {
    transform: rotateY(300deg) translateZ(7rem);
}

.preloader__sector:nth-child(27) {
    transform: rotateY(312deg) translateZ(7rem);
}

.preloader__sector:nth-child(28) {
    transform: rotateY(324deg) translateZ(7rem);
}

.preloader__sector:nth-child(29) {
    transform: rotateY(336deg) translateZ(7rem);
}

.preloader__sector:nth-child(30) {
    transform: rotateY(348deg) translateZ(7rem);
}


/* Animations */

@keyframes tiltSpin {
    from {
        transform: rotateY(0) rotateX(30deg);
    }
    to {
        transform: rotateY(1turn) rotateX(30deg);
    }
}

@keyframes spin {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(1turn);
    }
}